* {
    -fx-font-family: Bahnschrift, Arial;
    -fx-text-fill: rgb(228, 228, 228);
}

.button {
    -fx-background-color: rgb(38, 38, 38);
    -fx-text-alignment: center;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: rgb(115, 115, 115);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/* Midsection */
.MidSection {
    -fx-padding: 5;
}


/* Scroll pane */
.scroll-pane{
    -fx-padding: 20;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: rgb(38, 38, 38);
}


.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}

.scroll-pane .thumb {
    -fx-background-color: rgba(0, 132, 255, 0.678);
    -fx-background-radius: 6px;
    -fx-pref-width: 8;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}