/* header global settings*/

.Header{
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 30 0 30;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: #121A27;

    -fx-font-size: 30px;
    -fx-font-weight: bold;

    -fx-pref-height: 90;
}

.button{
    -fx-padding: 0;
    -fx-pref-height: 50;
    -fx-background-color: #1C2431;
    -fx-border-color: #2E3442;

    -fx-font-size: 20;
}

.button:hover {
    -fx-background-color: #132235;
}

/*  */

.title .text-field,
.title .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.editablefield .valuefield{
    -fx-background-color: #132235;
}


/* Home Scene */
#dropdownsection{
    -fx-alignment: center;
}

#newtaskbutton{
    -fx-pref-width: 50;
    -fx-padding: 0;
    -fx-font-size: 25;
    -fx-font-weight: bold;


    -fx-border-width: 1 0 1 1;
    -fx-border-radius: 10 0 0 10;
    -fx-background-radius: 10 0 0 10;
    -fx-border-color: #2E3442;
}

#accbutton {
    -fx-pref-width: 30;
}

/*  */
#optionsbutton{
    -fx-pref-width: 30;
}

#options .button{
    -fx-pref-width: 150;
    -fx-font-size: 15;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/* Dropdown menu */

.combo-box {
    -fx-pref-height: 50;
    -fx-pref-width: 300;
    -fx-font-size: 20px;

    -fx-border-color: #2E3442;;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 0 10 10 0;

    -fx-background-color: #1C2431;
    -fx-background-radius: 0 10 10 0;    
}

.combo-box:showing{
    -fx-border-radius: 0 10 0 0;
    -fx-background-radius: 0 10 0 0;
}

.combo-box-popup .list-view{
    -fx-background-color: #1C2431;
    -fx-border-color: #2E3442;;
    -fx-border-width: 0 1 1 1;
}

.combo-box-popup .list-cell{
    -fx-background-color: #1C2431;
}

.combo-box:hover,
.combo-box .list-cell:hover,
.combo-box .list-view .list-cell:hover{
    -fx-background-color: #132235;
}

.combo-box:pressed,
.combo-box .list-cell:pressed,
.combo-box .list-cell:pressed{
    -fx-background-color: rgb(59, 59, 59);
}

.combo-box-popup .scroll-bar .thumb {
    -fx-background-color: rgb(115, 115, 115);
    -fx-background-radius: 6px;
}

.combo-box-popup .scroll-bar:vertical {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}

.combo-box-popup .increment-button,
.combo-box-popup .decrement-button,
.combo-box-popup .scroll-bar:horizontal,
.combo-box .arrow-button,
.combo-box .arrow{
    -fx-max-height: 0;
    -fx-max-width: 0;
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
}