* {
    -fx-font-family: Bahnschrift, Arial;
    -fx-text-fill: rgb(228, 228, 228);
}

.root{
    -fx-background-color: #0C1421;
}

.button {
    -fx-background-color: rgb(38, 38, 38);
    -fx-text-alignment: center;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: rgb(115, 115, 115);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/* MidSection (ListView) */
.MidSection {
    -fx-background-color: #0C1421;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #2E3442;;
    -fx-background-insets: 0;
}

.MidSection .list-cell {
    -fx-background-color: transparent;
}

.MidSection {
    -fx-padding: 20;
}

.MidSection .list-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* scroll bar */
.MidSection .scroll-bar:vertical,
.MidSection .scroll-bar:horizontal {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}

.MidSection .thumb {
    -fx-background-color: rgba(0, 132, 255, 0.678);
    -fx-background-radius: 6px;
    -fx-pref-width: 8;
}

.MidSection .increment-button,
.MidSection .decrement-button {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}