.TaskCard {
    -fx-border-radius: 12px;
    -fx-border-color: rgb(115, 115, 115);
    -fx-min-height: 200px;
    -fx-max-height: 200px;
    -fx-padding: 5;
}

.TaskCard .label {
    -fx-font-size: 25px;
}

.TaskCard-description * {
    -fx-font-size: 15px;
}

.TaskCard-header {
    -fx-border-color: rgb(115, 115, 115);
    -fx-border-width: 0 0 1 0;

}

.Completebutton{
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-font-size: 15;
}

.Optionsbutton{
    -fx-border-color: transparent;
    -fx-pref-height: 30;
    -fx-pref-width: 10;
    -fx-padding: 0;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}