.scrollable {
    -fx-background-color: #0C1421;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #2E3442;
    -fx-background-insets: 0;
    -fx-padding: 20;
}

.row,
.row .text-field,
.row .button,
.row .label{
    -fx-pref-height: 50;
}

.button{
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-border-color: #2E3442;
    -fx-background-color: transparent;
    -fx-font-size: 20;
}

.button:hover {
    -fx-background-color: #132235;
}

.editable{
    -fx-background-color: #132235;
}

/* Content */

.scrollable .viewport, 
.scrollable .content {
    -fx-background-color: #0C1421;
}

.separator .line{
    -fx-border-width: 1;
    -fx-border-color: #2E3442;
}

/* Section */

.section-title {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #a7a7a7;
}

.section {
    -fx-padding: 20;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-width: 2;

    -fx-background-color: #121B2A;
    -fx-border-color: #2E3442;
}

/* Row */

.row-iconcontainer {
    -fx-pref-height: 30;
    -fx-max-height: 30;
}

.row {
    -fx-alignment: center-left;
}

.row-title {
    -fx-font-size: 15px;
}

.row-description {
    -fx-padding: 0;
    -fx-min-width: 300;
    -fx-alignment: center-right;
    
    -fx-font-size: 15px;
    -fx-text-fill: #a7a7a7;
    -fx-background-color: transparent;
}

.row-edit {
    -fx-alignment: center;
}

.editablefield .valuefield{
    -fx-background-color: #132235;
}

.editablefield .valuelabel{
    -fx-alignment: center_right;
}

/* scrollbar */

.scrollable .scroll-bar:vertical,
.scrollable .scroll-bar:horizontal {
    -fx-pref-width: 8;
    -fx-background-color: transparent;
}

.scrollable .thumb {
    -fx-background-color: rgba(0, 132, 255, 0.678);
    -fx-background-radius: 6px;
    -fx-pref-width: 8;
}

.scrollable .increment-button,
.scrollable .decrement-button {
    -fx-background-color: transparent;
    -fx-pref-height: 0;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}