.TaskCard {
    -fx-pref-height: 150px;
    -fx-padding: 20;

    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: #121B2A;
    -fx-border-color: #2E3442;
}

.editablefield .valuefield{
    -fx-padding: 0;
    -fx-background-color: #132235;
}

.button:hover{
    -fx-background-color: #1d334e;
}

/* Completebutton container */

#Completebutton{
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-color: #5090DA;
    -fx-pref-height: 40;

    -fx-pref-width: 40;
    -fx-max-width: 40;
    -fx-min-width: 40;
}

#Completebutton:hover{
    -fx-background-color: #1d334e;
}

/* Content container */
.contentarea{
    -fx-padding: 10 0 0 0;
}

.title{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-border-radius: 0;
}

.description{
    -fx-font-size: 20px;
    -fx-text-alignment: left;
    -fx-text-fill: #a7a7a7;
    -fx-border-radius: 0;
}


/* DLwidget */

#deadlinewidget{
    -fx-pref-width: 160;
    -fx-min-width: 160;
    -fx-max-width: 160;

    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: #283957;
    -fx-background-color: #132235;
    -fx-border-width: 1;

    -fx-alignment: center;
}

.deadline{
    -fx-pref-width: 90;
    -fx-text-fill: #5090DA;
}

.deadline-time{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.deadline-date{
    -fx-font-size: 15px;
}

.clockicon {
    -fx-background-color: #5090DA;

    -fx-pref-width: 24;
    -fx-pref-height: 24;

    -fx-min-width: 24;
    -fx-min-height: 24;

    -fx-max-width: 24;
    -fx-max-height: 24;
}

/* Options container */

.Taskcard-optionsbox {
    -fx-alignment: center;
}

.Taskcard-optionsbox .svgbutton{
    -fx-pref-height: 40;    
    -fx-pref-width: 40;
    
    -fx-border-color: #5090DA;
    -fx-background-color: transparent;
}

.Taskcard-optionsbox .svgbutton:hover{
    -fx-background-color: #1d334e;
}